.texth1{
    text-align: center;
}
.textp{
    text-align: center;
}
.HomeImage{
    margin: auto;
    display: block;
    margin-bottom: calc(100vh * 135 / 1920);
    width: calc(100vh * 1150 / 1920);
    height: auto;
}